@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels
@using React.Web.Mvc
@{
    Layout = "MasterPage.cshtml";
}

@section Styles{
   <link rel="stylesheet" href="~/content/site/crawlerPage.css" />
}


<div class="row">
    <div class="col-md-4">
        <form class="input-group mb-2 mr-sm-2 mb-sm-0 pointer" method="POST" action="/umbraco/api/action/crawl">
            <button type="submit" class="input-group-addon bg-primary "><i class="fa fa-bug"> Crawl</i></button>
            <input type="text" name="url" class="form-control" id="inlineFormInputGroup" placeholder="http://www.example.com">
            <input type="hidden" name="id" value="@(((IPublishedContent)CurrentPage).Id)" />
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        @{
            Html.RenderPartial("Crawler/ChildListViewPartial", Model);
        }
    </div>
    <div class="col-md-8">
        <h2 id="content-title"></h2>
        <hr id="content-hr" />
        <div id="content"></div>
        @Html.React("contentpicker", new { })
    </div>
</div>

@Html.ReactInitJavaScript()
@section Scripts{
    <script src="~/jsx/content-picker.jsx" type="text/jsx"></script>

    <script type="text/javascript">
        $(function () {
            $("#accordion").accordion({ heightStyle: "content" });
            $("#content-hr").prop('hidden', true);
            
            //https://datatables.net/examples/basic_init/dom.html
            //http://legacy.datatables.net/usage/i18n
            $('.descendants').DataTable({
                "language": {
                    "lengthMenu": "_MENU_",
                    "info": "_PAGE_ / _PAGES_",
                    "infoEmpty": "0 / 0",
                    "search": "",
                    "paginate": {
                        "first": "",
                        "last": "",
                        "next": "<b>></b>",
                        "previous": "<b><</b>"
                    },
                    "searchPlaceholder": "Search...",
                    "infoFiltered": "",
                    "emptyTable": "No values"
                },

                "pageLength": 7,
                "lengthMenu": [[7], [7]],
                "pagingType": "simple",
                dom: "<'row'<'col-sm-2'p><'col-sm-8'f><'col-sm-2'i>>" +
                "<'row'<'col-sm-12'tr>>"
            });
        });

        $(".content").click(function () {
            //window.location = $(this).data("href");
            $("#content-title").html($(this).data("title"));
            $("#content-hr").prop('hidden', $(this).data("title") != null ? false : true)
            $("#content").html($(this).data("content"));
        });
    </script>

}