@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels
@{
	Layout = "MasterPage.cshtml";
}

<label>Token: </label> @Model.Content.GetPropertyValue("token")
<div>
    @Model.Content.GetPropertyValue("content")
</div>