<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT crawledPage ANY>
<!ATTLIST crawledPage id ID #REQUIRED>
<!ELEMENT crawlerPage ANY>
<!ATTLIST crawlerPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT dashboardPage ANY>
<!ATTLIST dashboardPage id ID #REQUIRED>
<!ELEMENT masterPage ANY>
<!ATTLIST masterPage id ID #REQUIRED>
]>
<root id="-1">
  <dashboardPage id="1057" key="7c0729df-27af-4013-958e-23c77074a956" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-10T19:54:46" updateDate="2017-08-10T19:54:46" nodeName="Dashboard - Master" urlName="dashboard-master" path="-1,1057" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="dashboardPage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <homePage id="1058" key="adea9c1f-59f9-41ce-b1b3-8811976a7f26" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2017-08-10T19:55:06" updateDate="2017-08-10T19:55:06" nodeName="Home" urlName="home" path="-1,1057,1058" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1055" nodeTypeAlias="homePage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </homePage>
    <crawlerPage id="1063" key="27e3fccc-b16b-4b19-9e71-bf0140a2b4ae" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2017-08-10T20:07:23" updateDate="2017-08-10T20:07:23" nodeName="Crawler" urlName="crawler" path="-1,1057,1063" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="crawlerPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <crawledPage id="1064" key="7ff2e68d-08d2-4bfa-8910-f84036a6ae40" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2017-08-10T20:07:45" updateDate="2017-08-10T20:07:45" nodeName="www.testsite.com" urlName="wwwtestsitecom" path="-1,1057,1063,1064" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="crawledPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <isRoot>1</isRoot>
        <crawledPage id="1065" key="d21f36ce-826f-481e-b404-998fff889977" parentID="1064" level="4" creatorID="0" sortOrder="0" createDate="2017-08-10T20:08:28" updateDate="2017-08-10T20:08:28" nodeName="/home" urlName="home" path="-1,1057,1063,1064,1065" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="crawledPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <isRoot>0</isRoot>
          <crawledPage id="1067" key="0a110b42-1674-4760-8352-abe17980e35f" parentID="1065" level="5" creatorID="0" sortOrder="0" createDate="2017-08-10T20:08:47" updateDate="2017-08-10T20:08:47" nodeName="/hello" urlName="hello" path="-1,1057,1063,1064,1065,1067" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="crawledPage">
            <umbracoNaviHide>0</umbracoNaviHide>
            <isRoot>0</isRoot>
          </crawledPage>
        </crawledPage>
        <crawledPage id="1066" key="eb0e771b-de73-4650-91e8-304a40b5c875" parentID="1064" level="4" creatorID="0" sortOrder="1" createDate="2017-08-10T20:08:40" updateDate="2017-08-10T20:08:40" nodeName="/index" urlName="index" path="-1,1057,1063,1064,1066" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="crawledPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <isRoot>0</isRoot>
        </crawledPage>
      </crawledPage>
      <crawledPage id="1068" key="c82b3a03-1b44-45b1-be15-81490a0e5275" parentID="1063" level="3" creatorID="0" sortOrder="1" createDate="2017-08-10T20:09:00" updateDate="2017-08-10T20:09:00" nodeName="www.testsite2.com" urlName="wwwtestsite2com" path="-1,1057,1063,1068" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="crawledPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <isRoot>0</isRoot>
      </crawledPage>
    </crawlerPage>
  </dashboardPage>
</root>