<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT masterPage ANY>
<!ATTLIST masterPage id ID #REQUIRED>
<!ELEMENT crawledPage ANY>
<!ATTLIST crawledPage id ID #REQUIRED>
<!ELEMENT crawlerPage ANY>
<!ATTLIST crawlerPage id ID #REQUIRED>
<!ELEMENT dashboardPage ANY>
<!ATTLIST dashboardPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT notFoundPage ANY>
<!ATTLIST notFoundPage id ID #REQUIRED>
]>
<root id="-1">
  <dashboardPage id="1067" key="38e8f321-2998-4a75-961f-68c175286646" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-11T09:36:12" updateDate="2017-08-11T10:22:17" nodeName="Dashboard" urlName="dashboard" path="-1,1067" isDoc="" nodeType="1065" creatorName="admin@scrapjunker.com" writerName="admin@scrapjunker.com" writerID="0" template="1061" nodeTypeAlias="dashboardPage">
    <umbracoUrl><![CDATA[dashboard]]></umbracoUrl>
    <umbracoNaviHide>0</umbracoNaviHide>
    <homePage id="1068" key="2c3f1a1a-b8e6-49f2-85ec-2cfddc185f2a" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2017-08-11T09:36:20" updateDate="2017-08-11T09:36:20" nodeName="Home" urlName="home" path="-1,1067,1068" isDoc="" nodeType="1066" creatorName="admin@scrapjunker.com" writerName="admin@scrapjunker.com" writerID="0" template="1062" nodeTypeAlias="homePage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </homePage>
    <crawlerPage id="1069" key="081e1b56-2049-4d05-a164-6955359bdadf" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2017-08-11T09:36:26" updateDate="2017-08-11T09:36:26" nodeName="Crawler" urlName="crawler" path="-1,1067,1069" isDoc="" nodeType="1064" creatorName="admin@scrapjunker.com" writerName="admin@scrapjunker.com" writerID="0" template="1060" nodeTypeAlias="crawlerPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <crawledPage id="1070" key="4902af03-18fa-4f6a-be32-e58e07859050" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2017-08-11T09:36:42" updateDate="2017-08-11T09:36:42" nodeName="Test1" urlName="test1" path="-1,1067,1069,1070" isDoc="" nodeType="1063" creatorName="admin@scrapjunker.com" writerName="admin@scrapjunker.com" writerID="0" template="1059" nodeTypeAlias="crawledPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <isRoot>1</isRoot>
        <crawledPage id="1071" key="d7f175fc-c7b2-47ae-8769-a965737dcd33" parentID="1070" level="4" creatorID="0" sortOrder="0" createDate="2017-08-11T09:36:51" updateDate="2017-08-11T09:36:51" nodeName="home" urlName="home" path="-1,1067,1069,1070,1071" isDoc="" nodeType="1063" creatorName="admin@scrapjunker.com" writerName="admin@scrapjunker.com" writerID="0" template="1059" nodeTypeAlias="crawledPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <isRoot>0</isRoot>
        </crawledPage>
        <crawledPage id="1072" key="644440ca-f918-453f-a00a-524068575c69" parentID="1070" level="4" creatorID="0" sortOrder="1" createDate="2017-08-11T09:36:56" updateDate="2017-08-11T09:36:56" nodeName="index" urlName="index" path="-1,1067,1069,1070,1072" isDoc="" nodeType="1063" creatorName="admin@scrapjunker.com" writerName="admin@scrapjunker.com" writerID="0" template="1059" nodeTypeAlias="crawledPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <isRoot>0</isRoot>
        </crawledPage>
      </crawledPage>
      <crawledPage id="1073" key="63c6c999-14a1-4632-91db-6434ef50a003" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2017-08-11T09:37:02" updateDate="2017-08-11T09:37:02" nodeName="Test2" urlName="test2" path="-1,1067,1069,1073" isDoc="" nodeType="1063" creatorName="admin@scrapjunker.com" writerName="admin@scrapjunker.com" writerID="0" template="1059" nodeTypeAlias="crawledPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <isRoot>1</isRoot>
      </crawledPage>
    </crawlerPage>
    <notFoundPage id="1076" key="331e0c1e-520b-4f3e-b0d6-fe61c60b8577" parentID="1067" level="2" creatorID="0" sortOrder="2" createDate="2017-08-11T09:44:45" updateDate="2017-08-11T10:42:14" nodeName="404" urlName="404" path="-1,1067,1076" isDoc="" nodeType="1075" creatorName="admin@scrapjunker.com" writerName="admin@scrapjunker.com" writerID="0" template="1074" nodeTypeAlias="notFoundPage">
      <umbracoNaviHide>1</umbracoNaviHide>
    </notFoundPage>
  </dashboardPage>
</root>