<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Startup" DateTime="01.11.2017 10:54">
  <Actions>
    <Action Change="NoChange" Success="true" Message="" Name="CrawlerSettingsPage" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="crawlerSettingsPage" Type="IContentType" />
  </Actions>
</uSync>