<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Startup" DateTime="9/9/2017 10:15 AM">
  <Actions>
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="CrawlerSettingsPage" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="crawlerSettingsPage" Type="IContentType" />
  </Actions>
</uSync>