<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Startup" DateTime="10.08.2017 11:43">
  <Actions>
    <Action Change="NoChange" Success="true" Message="" Name="Approved Color" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Checkbox list" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Content Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker with time" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown multiple" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Image Cropper" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Label" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Media" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Members" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Member Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Multiple Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Numeric" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Radiobox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Related Links" Type="IDataTypeDefinition" />
    <Action Change="Import" Success="true" Message="" Name="Richtext editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Tags" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textstring" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="True/false" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Upload" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MasterPage" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="masterPage" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="File" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Folder" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Image" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="en-US" Type="ILanguage" />
  </Actions>
</uSync>